<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dating_App_Lucky"
        tools:targetApi="31">
        <activity
            android:name=".Home_page"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".location_permission"
            android:exported="false" />
        <activity
            android:name=".Upload_Photo_Activity"
            android:exported="false" />
        <activity
            android:name=".Interest_page"
            android:exported="false" />
        <activity
            android:name=".Looking_for_page"
            android:exported="false" />
        <activity
            android:name=".gender_activity"
            android:exported="false" />
        <activity
            android:name=".Email_Page"
            android:exported="false" />
        <activity
            android:name=".Name_page"
            android:exported="false" />
        <activity
            android:name=".name_activity"
            android:exported="false" />
        <activity
            android:name=".phone_verification"
            android:exported="false" />
        <activity
            android:name=".Enter_Number_page"
            android:exported="false" />
        <activity
            android:name=".Login_With_Phone"
            android:exported="false" />
        <activity
            android:name=".OnBoarding_Page"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>